body{
    background-color: #d8d8d8;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

header{
    background-color: #333533;
    width: 100%;

}

.nav-link{
    color: white;
    margin-top: 2%;
    margin-left: 2%;
}

.buscar {
    position: relative;
    margin-top: 32px;
    margin-left: 250px;
  }
  
  .buscar input {
    width: 240px;
    height: 30px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    border: solid #333533;
    border-radius: 30px;
  }

.carrito{
    width: 23%;
    margin-left: 100px;
}

.usuario{
    width: 27%;
}

.logo{
    width: 15%
}

.carousel-inner{
    position: relative;
    margin-top: 5%;
    align-items: center;
}

.card{
    margin-top: 2%;
    margin-right: 5%;
    background-color: white;
    color: black;
}

footer{
    background-color: #333533;
    color: #adb5bd;
    font-size: small;
    margin-top: 10%;
}

.row-1{
    margin: 5%;
}

.container{
    padding: 3%;
}

.container1{
    padding: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

.card-packages{
    margin-top: 2%;
    margin-right: 5%;
    background-color: white;
    color: black;
}

.card-title1{
    font-size: small;
}

.card-title{
    font-size: x-large;
}

.destinos-inicio{
    font-size: small;
}

.ofertas-inicio{
    font-size: small;
}

.col{
    color: white;
    font-size: small;
    margin-left: -3%;
}

.btn{
    background-color: white;
    color: black;
}

.dropdown-toggle{
    background-color:#333533;
    color: white;
    width: 12%;
}

.dropdown-menu{
    background-color:#333533;
}

.dropdown-item{
    color: white;
}

.card-paq{
    margin-right: 5%;
    background-color: white;
    margin-bottom: 3%;
}

.pagination{
    margin-left: 40%;
}

.title{
    color: black;
    font-size: small;
    margin-left: -3%;
}

.btn-success{
    border-radius: 15%;
    background-color: green;
    border: green;
    width: 23%;
    height: 7%;
    color: white;
    font-weight: bold;
    margin-left: 80%;
    margin-top: 20%;
}

.page-link{
    color: black;
}

.social-media{
    width: 8%;
    margin-right: 5%;    
}

.contact{
    font-size: medium;
}

.btn-send{
    border-radius: 15%;
    background-color: #333533;
    border: #333533;
    width: 20%;
    height: 15%;
    color: white;
    margin-left: 80%;   
}

.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  h3 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }

  .img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
  }


  
  