body{
    background-color: #d8d8d8;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

header{
    background-color: #333533;
    width: 100%;

}

.nav-link{
    color: white;
    margin-top: 2%;
    margin-left: 2%;
}
.carrito{
    margin-left: 180%;
    width: 8%;
}

.usuario{
    margin-left: 90%;
    width: 8%;
}

.logo{
    width: 15%
}

.carousel-inner{
    position: relative;
    margin-top: 5%;
    width: 40%;
}

.imagen-carrusel{
    width: 50%;
}

.card{
    margin-top: 2%;
    margin-right: 5%;
    background-color: white;
    color: black;
    width: 20%;
}

footer{
    background-color: #333533;
    color: #adb5bd;
    font-size: small;
    margin-top: 10%;
}

.row-1{
    margin: 5%;
}

.hotels{
    color: white;
    font-size: small;
    margin-left: -3%;
}

.container{
    padding: 3%;
}

.container1{
    padding: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

.card-packages{
    margin-top: 2%;
    margin-right: 5%;
    background-color: white;
    color: black;
    width: 25%;
}

.card-title1{
    font-size: small;
}


.destinos-inicio{
    font-size: small;
}

.ofertas-inicio{
    font-size: small;
}

.col{
    color: white;
    font-size: small;
    margin-left: -3%;
}

.btn{
    background-color: white;
    color: black;
}

.card-paq{
    margin-right: 5%;
    background-color: white;
    margin-bottom: 3%;
}

.pagination{
    margin-left: 40%;
}

.page-link{
    color: black;
}

.titulo-contacto{
    color: white;
}

.instagram{
    width: 8%;
}

.facebook{
    width: 6%;
}

.correo{
    width: 6%;
}

.titulo-paquete{
    color: white;
}

.detalle{
    text-align: center;
}